@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post">
<label class="col-form-label"></label>
        <input name="value" type="text" class="form-control"/>
<button class="btn btn-primary">Send Event</button>
    </form>
</div>

